$pink = rgb(254,218,219)
$lightGrey = rgb(232,232,232)
$grey = rgb(220,220,220)
$blue = rgb(25,115,255)
$darkGrey = rgb(150,150,150)

$smaller = 12px
$small = 14px
$normal = 16px
$medium = 18px
$large = 22px

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -o-border-radius n
  -ms-border-radius n
  border-radius n

transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  -ms-transition n
  transition n

html, body
  height 100%
  font-family 'Century Gothic', 'Helvetica Neue', 'Helvetica', sans-serif

.chat-convo
  position relative
  padding-top 30px
  .messages
    padding-bottom 60px
    height 100%
    overflow scroll
    -webkit-overflow-scrolling touch
    .line
      margin 30px 0
      position relative
      display block
      transition(all 0.5s ease-in)
      opacity 0
      top 20px
      &.fade-in
        opacity 1
        top 0
      &:first-child
        margin-top 0
      .avatar
        position absolute
        background $lightGrey
        height 50px
        width @height
        border-radius(@height)
        line-height @height
        text-align center
        font-size $large
        color white
        left 0
      .message-time
        font-size $smaller
        display block
      .bubble
        padding 10px
        display inline-block
        border-radius 5px
        margin 0 10px
        position relative
        &:after
          content ''
          width 0
          height 0 
          position absolute
          border-top 10px solid transparent
          border-bottom 10px solid transparent
      &.me 
        text-align right
        .bubble
          background $pink
          &:after
            border-left 10px solid $pink
            right -10px
        .avatar
          visibility hidden
      &.not-me 
        text-align left
        .bubble
          background $lightGrey
          margin-left 65px
          &:after
            border-right 10px solid $lightGrey
            left -10px
  .message-form
    padding 10px 15px
    background $grey
    position absolute
    bottom 0
    width 100%
    button
      background transparent !important
      color $blue
      &:disabled
        color $darkGrey
    input, button
      margin-bottom 0