<!doctype html>
<html>
<head>
    <title>Carousell is cool!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
    {% assets "js_head" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
    <div id="main">
        <!-- everything renders inside here -->
    </div>
    <script type="text/html" id="layout-centered-tmpl">
        <div class="row">
            <div class="small-12 medium-8 medium-centered column">
                <div id="content"></div>
            </div>        
        </div>
    </script>
    <script type="text/html" id="message-tmpl">
        <time class="message-time"><%= prettyTime() %></time>
        <span class="bubble"><%- text %></span>
        <span class="avatar"><i class='fa fa-user'></i></span>
    </script>
    <script type="text/html" id="no-messages-tmpl">
        <p>Nothing here yet</p>
    </script>
    <script type="text/html" id="chat-convo-tmpl">
        <div class="messages"></div>
        <form class="message-form">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input type="text" class="enter-message" placeholder="Enter message....">
                </div>
                <div class="small-2 columns">
                    <button class="button postfix" type="submit">Send</button>
                </div>
            </div>
        </form>
    </script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html